html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Weissenhof-Grotesk-Regular", Tahoma, sans-serif;
    font-size: 16px;
}
.head-txt{
    display: inline-block;
    color: White;
    font-family: "Weissenhof-Grotesk-Medium", Tahoma, sans-serif;
    background: #005587;
    border-top-right-radius: 10px;
    font-size: 2em;
    min-width: 20%;
    padding: 30px 0.66667em;
    top: 100px;
    z-index: 100;
    position: absolute;
}
.cover {
    position: relative;
    min-width: 100%;
    background-image: url('./src/international.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
}

.cover h1 {
    position: relative;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    color: white;
    z-index: 1;
    font-size: 2em;
    left: 5%;
    text-align: center;
}

.campus-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    flex-wrap: wrap;
    font-weight: bold;
}

.campus {
    position: relative;
    flex-basis: calc(25% - 20px);
    overflow: hidden;
    cursor: pointer;
    margin: 10px;
}

.campus img {
    height: auto;
    transition: opacity 0.3s ease;
    border-radius: 10px;
    max-width: 100%;
}

.image-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #00467f;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: large;
    opacity: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transform: translateY(100%);
    transition: transform 0.3s ease, opacity 0.3s ease;
    text-decoration: none; 
}

.campus:hover .image-caption {
    transform: translateY(0%);
    opacity: 1;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.text-section {
    text-align: center;
    font-size: 16px;
    color: #00467f;
    padding: 5vw;
}

.text-section h2 {
    margin-bottom: 2vw; 
    font-size: 1.5vw;
}

.text-section p {
    line-height: 1.5;
    font-size: 1vw;
    margin-bottom: 20px;
    color: black;
}

.icon {
    font-size: 28px;
    margin-bottom: 10px;
    color: #005587  ; 
}

@media (max-width: 768px) {
    .campus {
        flex-basis: calc(50% - 20px);
    }
    .icon {
        font-size: 48px;
        margin-bottom: 15px;
        color: #007bff; 
    }
    .text-section h2 {
        font-size: 24px;
        margin-bottom: 15px;
    }
    .text-section h3 {
        font-size: 2.5vw; 
    }
    
    
    .text-section p {
        font-size: 2vw; 
        margin-bottom: 3vw;
    }
}

.buttons-section {
    display: flex;
    justify-content: center;
    margin: 5vw;
}

.action-button {
    border: none;
    border-radius: 40px;
    margin: 0 10px;
    font-family: "Weissenhof-Grotesk-Medium", Tahoma, sans-serif;
    padding: 0.5vw 5vw; 
    font-size: 1vw;
    color: white;
    background-color: #005587;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.action-button i {
    margin-right: 10px;
}

.action-button:hover {
    background-color: #004269;
}
.icon-btn{
    font-size: 1.5vm;
    margin-bottom: 15px;
    color: #007bff; 
}
footer {
    background-color: #005587;
    color: white;
    font-family: "Weissenhof-Grotesk-Regular", Tahoma, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vw;
    height: 40%;
}

.footer-link {
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin: 5px 15px;
    display: block;
}

.footer-link:hover {
    text-decoration: underline;
}

.links {
    text-align: right;
    margin-bottom: 30px;
    size: 2vwpx;
    flex: 1;
}

.main {
    display: flex;
    justify-content: flex-end;
    font-size: 1vw;
    font-family: "Weissenhof-Grotesk-Regular", Tahoma, sans-serif;
    align-items: center;
    flex: 1;
}

.social-media {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    font-size: 40px;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.social-media a{
    padding: 10px;
    color: #00a9e0;
}
.quick-mail-button {
    display: block;
    width:auto;
    color: white;
    text-align: left;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-family: "Weissenhof-Grotesk-Medium", Tahoma, sans-serif;
    flex: 1;
}
/* Your existing styles */

@media (max-width: 768px) {
    .head-txt {
        font-size: 1.5em;
        padding: 20px 0.66667em;
    }

    .cover h1 {
        font-size: 2em;
        left: 2%;
    }

    .campus {
        flex-basis: calc(50% - 20px);
    }

    .icon {
        font-size: 32px;
    }

    .text-section h2 {
        font-size: 18px;
    }

    .text-section p {
        font-size: 18px;
        margin-bottom: 15px;
    }

    .action-button {
        padding: 8px 40px;
        font-size: 24px;
    }

    .icon-btn {
        font-size: 24px;
    }

    .footer-link {
        font-size: 16px;
        margin: 2px 8px;
    }

    .social-media a {
        font-size: 24px;
    }

    .quick-mail-button {
        padding: 8px;
        font-size: 16px;
    }
}
